<!DOCTYPE html>
  <html>
    <head>
      <title>AsSeenInSF</title>

      <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBleeAECJCp6rxiWgrA4a2wiEggoy9gm5M" %>
      <%= stylesheet_link_tag 'application', media: 'all'%>
      <%= csrf_meta_tags %>
      <%= javascript_include_tag 'application' %>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
      <%= yield %>

    </body>
  </html>
